.nav_list a {
    text-decoration: none;
    font-size: 50px;
    color: #fff;
}

.nav_list_item {
    height: 100%;
    overflow: hidden;
}

.nav_list li {
    padding: 15px 0;
    text-transform: uppercase;
    transform: translateY(200px);
    opacity: 0;
    animation: 2s slideUp ease forwards .5s;
    position: relative;
}

.nav_list li::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 0px;
    left: 0;
    bottom: 10px;
    background: #ff0000;
    transition: all .5s ease;
}

.nav_list li:hover:before {
    width: 100%;
}

.popover p {
    padding: 50px;
    opacity: 0;
    animation: 1s fadeIn ease forwards 1s;
}

@keyframes grow {
    100% {
        height: 90%;
        width: 90%;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.calculatorMenu {
    width: 400px;
}